---
import DVAFunnel from "../components/DVAFunnel.jsx";
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Word Vriend van DVA</title>
  </head>
  <body style="margin: 0; padding: 0;">
    <DVAFunnel client:load />
  </body>
</html>
